
body {
  overflow-x: hidden;
}

.board {
  height: 400px;
  width: 400px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.empty {
  float: left;
  position: relative;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  /*border-left: 1px solid #fff;
  border-top: 1px solid #fff;*/
  height: 10px;
  width: 10px;
}

.display {
  background-color: rgb(242, 255, 0);
}

.apple {
  background-color: rgb(231, 0, 0);
  border-radius: 1px;
}

.power-up {
  background-color: #3bff00;
}

.high-score {
  height: 75px;
  width: 150px;
  background-color: #eee;
  font-size: 197%;
  font-weight: bold;
  color: black;
}

.score {
  height: 75px;
  width: 150px;
  background-color: #eee;
  font-size: 197%;
  font-weight: bold;
  color: black;
}

.timer {
  height: 37.5px;
  width: 150px;
  background-color: #eee;
  font-size: 197%;
  font-weight: bold;
  color: black;
}
